<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.dao.OperationLogMapper">
  <resultMap id="BaseResultMap" type="com.yk.entity.OperationLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="uri" jdbcType="VARCHAR" property="uri" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="param" jdbcType="VARCHAR" property="param" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="ip_source" jdbcType="VARCHAR" property="ipSource" />
    <result column="os" jdbcType="VARCHAR" property="os" />
    <result column="browser" jdbcType="VARCHAR" property="browser" />
    <result column="times" jdbcType="INTEGER" property="times" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="user_agent" jdbcType="VARCHAR" property="userAgent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, uri, method, param, description, ip, ip_source, os, browser, times,
    create_time, user_agent
  </sql>
    <insert id="addOperationLog">
      insert into operation_log
      (username, uri, method, param, description, ip, times,create_time, user_agent,ip_source,os,browser)
    values (#{username},#{uri},#{method},#{param},#{description},#{ip},#{times},#{createTime},#{userAgent},
    #{ipSource},#{os},#{browser});
    </insert>

    <delete id="delete">
    delete from operation_log
    where id = #{id}
  </delete>

  <select id="getOperationLogs" resultType="com.yk.entity.OperationLog">
    select * from operation_log
    <if test="date1 != null">
      where create_time between #{date1} and #{date2}
    </if>
  </select>
</mapper>
